params {
    input = 'total_samplesheet_DEEP.csv'
    tools = 'ciriquant,circexplorer2,find_circ,dcc,segemehl'
    // save_intermediates = true // used for intermediates in ciriquant -> bsj ratios
    fasta       = '/nfs/data3/CIRCEST/data/reference/human/hg38.fa'
    gtf         = '/nfs/data3/CIRCEST/data/reference/human/hg38.ncbiRefSeq.gtf'
    outdir = 'results'
    blacklist = 'hg38-blacklist.v2.bed'
    quantification_tools = 'sum'
}

// process {
//     executor = 'local'
//     // beforeScript = '/usr/bin/modulecmd bash load apptainer'
// }

executor {
    queueSize = 100
}

profiles {
    paired {
        params.tools = "ciriquant,circexplorer2,find_circ,circrna_finder,dcc,segemehl"
        params.quantification_tools = "sum"
    }

    single {
        params.tools = "circexplorer2,find_circ,circrna_finder,dcc,segemehl"
        params.quantification_tools = "sum"
    }
}
